/**
 * For custom (i.e. not Material-UI) styling
 */
#app {
  /*margin-top: -8em;*/
  height: 625px;
  width: 100vw;
  background-color: rgba(178, 235, 242, 0.2);
}
.template-container {
  float: left;
  background-color: #FFFFFF;
  padding: 20px;
  margin-left: 40vw;
  width: 21vw;
}
.auth-container {
  float: left;
  border: 12px solid rgba(178, 235, 242, 0.2);
  background-color: #FFFFFF;
  padding: 20px;
}
footer {
  padding: 20px;
  float: left;
  background-color: #EFEFEF;
  width: 100vw;
}